/* 
green (actually light brown) - #604a36
white (actually dark bone white) -#faf6f0
black (actually dark brown) - #301701
background (actually dark bone white) - #faf6f0
gray (actually light dusky brown) - #604a36
*/


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #faf6f0;
    margin: 0%;
}
h1 {
    text-shadow: -1px 0 #c2a693, 0 1px #c2a693, 1px 0 #c2a693, 0 -1px #c2a693;
}

h2 {
    color: #604a36;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.light-header {
    color: #604a36
}

header {
    color: #604a36;
}

.img {
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    width: auto;
    /* you can use % */
    height: 33vw;
    font-size: 300%;
}

.green {
    color: #604a36;
}

nav {
    background-color: #301701;
}

nav a {
    color: #faf6f0;
}

.content {}

.eb {
    color: #faf6f0;
}

.dark {
    background-color: #301701;
    color: #faf6f0;
}

.skills {}

.about-me {
    color: #301701;
}

.portfolio {
    background-color: #604a36;
}

.dark-top {
    background-color: #301701;
}

.contact {
    background-color: #604a36;
}