/*
green (actually light brown) - #967653
white (actually dark bone white) -#DFD5C0
black (actually dark brown) - #301701
background (actually dark bone white) - #DFD5C0
gray (actually light dusky brown) - #AEA385
*/


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #DFD5C0;
    margin: 0%;
}

h1 {
    text-shadow: -1px 0 #AEA385, 0 1px #AEA385, 1px 0 #AEA385, 0 -1px #AEA385;
}

h2 {
    color: #967653;
}

.light-header {
    color: #967653
}

.logo-link {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    color: #967653;
    justify-content: space-between;
    display: flex;
}

.img {
    background-image: url(https://static.pexels.com/photos/688990/pexels-photo-688990.jpeg);
    width: 100%;
    /* you can use % */
    /* height: 33vw; */
    font-size: 300%;
    margin-left: 0%;
    padding: 8vw 4vw;
}

.green {
    color: #967653;
}

.home {
    font-size: 1.7em;
}


/* navigation bar */

nav {
    background-color: #301701;
}

nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    /* justify-content: space-between;
    justify-content: space-around; */
    flex-wrap: wrap;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    color: #DFD5C0;
    text-decoration: none;
    padding: .25rem 1rem;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

nav a:hover,
nav a:focus {
    background-color: #967653;
}

.eb {
    color: #DFD5C0;
}

/* .dark {

} */

.about {
    color: #301701;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
}
.about-image {
    flex: 1 1 300px;
    margin-right: 2rem;
    text-align: center;
}
.about-image img{
    border-radius: 50%;
    max-width: 100%;
}
.about-text {
    flex: 1 1 300px;
    max-width: 100%;
    padding: 0 2rem;
}

.portfolio {
    background-color: #967653;
}

.dark-top {
    background-color: #301701;
}
.dark {
    /* flex:  1 1 50%;
    padding:  0 2.5rem; */
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background-color: #301701;
    color: #DFD5C0;


}
.dark article {
    padding:  0 2.5rem;
}
@media only screen and (min-width: 500px) {
    .dark article {
        width: 50%;
    }
    @media only screen and (min-width: 900px) {
        .dark article {
            width: 25%;
        }

}

.contact {
    background-color: #967653;
}


/* utilities */

.accessible-hidden {
    position: absolute;
    top: 0;
    left: -999px;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.accessible-hidden:focus {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    width: auto;
    height: auto;
    clip: auto;
}